body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    color: #111
}



.title {
    text-align: center;
    background-color: #222;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.navSidebar {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 15%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 10; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #e6e6e6; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding: 20px;
}

.linkSidebar {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 15%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 10; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #e6e6e6; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding: 20px;
}

button {
    background-color: #111;
    color: white;
    transition-duration: 0.3s; 
    font-size: large;
    padding: 10px;
    border: 0px;
    outline: none;
    width: 50%;
    padding: 20px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

button:hover {
    background-color: white;
    color: #111;
}

.sideButton {
    background-color: #111;
    color: white;
    font-weight: bold;
    font-size: large;
    padding: 10px;
    border: 0px;
    outline: none;
    width: 100%;
    display: block;
    padding: 20px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.sideButton:hover {
    background-color: white;
    color: #111;
}

.content {
    margin-top: 100px;
    margin-left: 24%;
    margin-right: 24%;
    text-align: center;
}

.linkImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.box {
    background-color: #e6e6e6;
    margin-bottom: 50px;
    padding: 5px;
}

.contributorLink {
    margin-bottom: 100px;
}